.navbar {
  background: #0f172a;
  color: white;
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 16px;
}

/* ACTIVE LINK */
.nav-links a.active {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

/* CART BADGE */
.badge {
  background: crimson;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 6px;
}